<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link
      rel="stylesheet"
      href="../modules/bootstrap/bootstrap.css"
    >
    <link
      rel="stylesheet"
      href="../modules/font-awesome/font-awesome.css"
    >
    <link
      rel="stylesheet"
      href="../index.css"
    >
    <link
      rel="stylesheet"
      href="./FactsCell.css"
    >
    <link
      rel="stylesheet"
      href="../modules/visually-hidden/visually-hidden.css"
    >
    <title>FactsCell</title>
  </head>
  <body>
    <div class="___Root__root___" id="root">

<div class="___FactsCell__root___">
  <p class="___FactsCell__number___">42</p>
  <p class="___FactsCell__text___">Web design projects</p>
</div>

    </div>
  </body>
</html>
