<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link
      rel="stylesheet"
      href="../modules/bootstrap/bootstrap.css"
    >
    <link
      rel="stylesheet"
      href="../modules/font-awesome/font-awesome.css"
    >
    <link
      rel="stylesheet"
      href="../index.css"
    >
    <link
      rel="stylesheet"
      href="./Feature.css"
    >
    <link
      rel="stylesheet"
      href="./SectionHeader.css"
    >
    <link
      rel="stylesheet"
      href="../modules/visually-hidden/visually-hidden.css"
    >
    <title>Feature</title>
  </head>
  <body>
    <div class="___Root__root___" id="root">

<section class="___Feature__root___">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8 offset-lg-2">

        <header class="___SectionHeader__root___">
          <p class="___SectionHeader__subtitle___">For all devices</p>
          <h1 class="___SectionHeader__title___">Unique design</h1>
          <div class="___SectionHeader__decorLine___"></div>
        </header>

      </div>
    </div>

    <div class="___Feature__padContainer___">
      <img src="../../public/media/feature-pad.png" alt="pad" class="___Feature__device___">

      <div class="___Feature__phoneContainer___">
        <img src="../../public/media/feature-phone.png" alt="phone" class="___Feature__device___">
      </div>
    </div>
  </div>

  <div class="___Feature__background___"></div>
  <div class="___Feature__backgroundOverlay___"></div>
</section>

    </div>
  </body>
</html>
