.___ServiceCell__root___ {
  padding: 43px 15px 0;
  margin: 0 0 48px;
  display: flex;
  align-items: flex-start;
}

.___ServiceCell__iconContainer___ {
  padding: 4px 0 0;
}

.___ServiceCell__icon___ {
  margin: 0 28px 0 0;
  width: 34px;
  height: 34px;
  background: #95e1d3;
}

.___ServiceCell__title___ {
  font: 500 14px/1.5 Montserrat, sans-serif;
  color: #333;
  text-transform: uppercase;
  margin: 0 0 10px;
}

.___ServiceCell__text___ {
  font: 400 15px/1.6 Roboto, sans-serif;
  color: #999;
  margin: 0;
}
