<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link
      rel="stylesheet"
      href="../modules/bootstrap/bootstrap.css"
    >
    <link
      rel="stylesheet"
      href="../modules/font-awesome/font-awesome.css"
    >
    <link
      rel="stylesheet"
      href="../index.css"
    >
    <link
      rel="stylesheet"
      href="./ServiceCell.css"
    >
    <link
      rel="stylesheet"
      href="../modules/visually-hidden/visually-hidden.css"
    >
    <title>Service</title>
  </head>
  <body>
    <div class="___Root__root___" id="root">

<div class="___ServiceCell__root___">
  <div class="___ServiceCell__media___">
    <div class="___ServiceCell__iconContainer___">
      <img class="___ServiceCell__icon___" src="../../public/media/icons/alarm.svg" alt="icon">
    </div>
  </div>

  <div class="___ServiceCell__content___">
    <h2 class="___ServiceCell__title___">Photography</h2>
    <p class="___ServiceCell__text___">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
    </p>
  </div>
</div>

    </div>
  </body>
</html>
